.login-button, .signup-button{
    font-size: .8em;
    letter-spacing: 0.02857em;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 5px;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 15px;
    font-weight: bold;
}


.login-button{
    color:  #0079D3;
    border: 1px solid #0079D3;
}

.signup-button{
    color: white;
    border: 1px solid white;
    background-color: #0079D3;
}

.login-link{
    border: none;
    color: #0079d3;
    background-color: white;
}